@if(projects.length > 0){
    <div class="angry-grid">
        <div class="column" >
            <p class="todo badge" >To Do</p>
            <div>
                @for(todo of todos;track todo.todo_id){
                    @if(todo.status === "todo" && todo.project_id === selectedProject_id ){
                       <div class="card" >
                        <div class="card_title" >{{todo.todo_name}}</div>
                        <div class="date_container" >
                            <div class="date" >
                                <span class="date_title" >Start date</span>
                                <span class="date_" >{{todo.start_date}}</span>
                            </div>
                            <div class="date" >
                                <span class="date_title">End date</span>
                                <span class="date_" >{{todo.end_date}}</span>
                            </div>
                        </div>
                       </div>
                    }
                }
            </div>           
            <app-add-todo-btn></app-add-todo-btn>
        </div>
        <div>
            <p class="inprogress badge" >In Progress</p>
            <div>
                @for(todo of todos;track todo.todo_id){
                    @if(todo.status === "inprogress" && todo.project_id === selectedProject_id ){
                       <div class="card" >
                        <div class="card_title " >{{todo.todo_name}}</div>
                        <div class="date_container" >
                            <div class="date" >
                                <span class="date_title " >Start date</span>
                                <span class="date_ " >{{todo.start_date}}</span>
                            </div>
                            <div class="date" >
                                <span class="date_title ">End date</span>
                                <span class="date_ " >{{todo.end_date}}</span>
                            </div>
                        </div>
                       </div>
                    }
                }
            </div>
            <app-add-todo-btn></app-add-todo-btn>
        </div>
        <div>
            <p class="inreview badge" >In Review</p>
            <div>
                @for(todo of todos;track todo.todo_id){
                    @if(todo.status === "inreview" && todo.project_id === selectedProject_id ){
                       <div class="card" >
                        <div class="card_title " >{{todo.todo_name}}</div>
                        <div class="date_container" >
                            <div class="date" >
                                <span class="date_title " >Start date</span>
                                <span class="date_ " >{{todo.start_date}}</span>
                            </div>
                            <div class="date" >
                                <span class="date_title ">End date</span>
                                <span class="date_ " >{{todo.end_date}}</span>
                            </div>
                        </div>
                       </div>
                    }
                }
            </div>
            <app-add-todo-btn></app-add-todo-btn>
        </div>
        <div>
            <p class="badge completed" >Completed</p>
            <div>
                @for(todo of todos;track todo.todo_id){
                    @if(todo.status === "completed" && todo.project_id === selectedProject_id ){
                       <div class="card" >
                        <div class="card_title " >{{todo.todo_name}}</div>
                        <div class="date_container" >
                            <div class="date" >
                                <span class="date_title " >Start date</span>
                                <span class="date_ " >{{todo.start_date}}</span>
                            </div>
                            <div class="date" >
                                <span class="date_title ">End date</span>
                                <span class="date_ " >{{todo.end_date}}</span>
                            </div>
                        </div>
                       </div>
                    }
                }
            </div>
            <app-add-todo-btn></app-add-todo-btn>
        </div>
    </div>
} @else {
    <div class="empty-board" >
        <p>No Projects</p>
        <p>Create and select the projects to display</p>
    </div>
}

