h3{
    border-bottom: 1px solid #EBEEFC;
    padding: 10px 5px;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 97vh;
    border-right: #EBEEFC 1px solid;
}

.projects{
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project{
    padding-block: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    transition: 0.3s;
    padding-left: 1rem;
    border-bottom: #EBEEFC 1px solid;
}

.project:hover{
  background: #EBEEFC;
    cursor: pointer;
}