.todo{
    background: #EBEEFC;
    color: #3659E2;
}

.inprogress{
    background: #FDF2FA;
    color: #EE46BC;
}

.inreview{
    background: #EFF8FF;
    color: #3FA1E3;
}

.completed{
    background: #F2F8F2;
    color: #3FA13E;
} 

.inputs {
    display: flex; 
    flex-direction: column;
    width: 100%;gap:0.5rem;
}

.dropdown {
    padding: 0.7rem 1rem;
}